main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    min-width: 350px;
    flex-direction: column;
    gap: 0.75rem;
}
.input-grp{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
input{
    border: none;
    outline: none;
    padding-block: 0.75rem;
    padding-inline: 1rem;
    border-radius: 0.75rem;

}
